.game-menu {
    height: 100%;
    width: 100%;
    background-image: url("https://img-kysic-1258722770.file.myqcloud.com/9b0222c1b822bb73983fd3833fa98b40/ff18f1d647e3c.gif");
    background-size: 100% 100%;
    user-select: none;
}



.game-menu-field {
    width: 20vw;
    position: relative;
    top: 35%;
    left: 60%;
}

@font-face {
    font-family: myfont;
    src:url('/static/material/font/font.ttf'),
    url('/static/material/font/font.ttf'),
    url('/static/material/font/font.ttf');
}


.game-menu-field-item {
    background-image: url('/static/material/images/ItemBack.png');
    background-size: 100% 100%;
    color: black;
    height: 7vh;
    width: 18vw;
    font-size: 4.5vh;
    font-style: italic;
    font-family: myfont;
    padding: 2vh;
    text-align: center;
   /* background-color: rgba(39, 21, 28, 0.5);*/
    border-radius: 10px;
    letter-spacing: 0.5vw;
    cursor: pointer;
}

.game-menu-field-item:hover {
    transform: scale(1.2);
    transition: 100ms;
}

